<h1>Modificar cargo</h1>

<%= render 'form', cargo: @cargo, accion: "Actualizar cargo"  %>

<%= link_to 'Regresar', cargos_path %>

    <script>
        $( document ).ready(function() {
            $("#cargos").removeClass("collapsed");
        });
    </script>