<h1>Agregar permiso</h1>

<%= render 'form', permiso: @permiso, accion: "Crear permiso" %>

<%= link_to 'Regresar', permisos_path %>

    <script>
        $( document ).ready(function() {
            $("#permisos").removeClass("collapsed");
        });
    </script>