<h1>Modificar departamento</h1>

<%= render 'form', departamento: @departamento, accion: "Actualizar departamento"  %>

<%= link_to 'Regresar', departamentos_path %>

    <script>
        $( document ).ready(function() {
            $("#departamentos").removeClass("collapsed");
        });
    </script>