<h1>Agregar departamento</h1>

<%= render 'form', departamento: @departamento, accion: "Crear departamento" %>

<%= link_to 'Regresar', departamentos_path %>

    <script>
        $( document ).ready(function() {
            $("#departamentos").removeClass("collapsed");
        });
    </script>