<h1>Agregar mision</h1>

<%= render 'form', misione: @misione, accion: "Crear mision" %>

<%= link_to 'Regresar', misiones_path %>

<script>
        $( document ).ready(function() {
            $("#misiones").removeClass("collapsed");
        });
    </script>