    <section class="section dashboard">
      <div class="row justify-content-center align-items-center h-100">

        <h1>Bienvenido a Control de misiones</h1>

      </div>
    </section>

    <script>
        $( document ).ready(function() {
            $("#dashboard").removeClass("collapsed");
        });
    </script>