<h1>Agregar empleado</h1>

<%= render 'form', empleado: @empleado, accion: "Crear empleado" %>

<%= link_to 'Regresar', empleados_path %>

    <script>
        $( document ).ready(function() {
            $("#empleados").removeClass("collapsed");
        });
    </script>