<h1>Agregar role</h1>

<%= render 'form', role: @role, accion: "Crear role" %>

<%= link_to 'Regresar', roles_path %>

    <script>
        $( document ).ready(function() {
            $("#roles").removeClass("collapsed");
        });
    </script>