<p>Hola!</p>

<p>Has solicitado cambiar de contrasena, para cambiar la contrasena solamente accede al link de aqui abajo.</p>

<p><%= link_to 'Cambiar contrasena', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no fuiste tu el que desea realizar el cambio, contactate con algun administrador.</p>
